.bets-container {
    position: relative;
}

.bet-blocks-container {
    margin-bottom: 150px;
}

.absolute-position-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.loader-container {
    height: 140px;
}

@media (max-width: 767px) {
    .ui.grid .non-mobile {
        display: none;
    }
}