body {
    /* background-color: #DADADA; */
    background-color: white;
}
body > .grid {
    height: 100%;
}
.reduce-margin-top {
    margin-top: -100px;
}
.login {
    max-width: 450px;
}
.ui.raised.segment.dodgerblue {
    /* background-color: dodgerblue; */
}

.ibet {
    margin: auto;
    display: inline-block;
    font-size: 1.5rem;
    z-index: 5;
    color: deepskyblue;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: black;
    opacity: .9;
    text-align: center;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,1);
}